sudo: true

install:
- ./install-dependencies.sh all

before_script:
- test -z "$PREFIX" || export PATH=$PATH:$PREFIX/bin

script:
- echo '---------' && env && echo '----------------'
- echo ENV_NAME=$ENV_NAME PREFIX=$PREFIX SRC_PREFIX=$SRC_PREFIX
- ./tools/ci/build.sh

env:
  global:
  - username=travis
  - PATH=$PATH:$HOME/bin:$HOME/usr/bin:$HOME/.local/bin/
  - Build_Deps_Default_Paths=1
  matrix:
  - ENV_NAME=production sudo=sudo
  - ENV_NAME=user-dev PREFIX=$HOME/.local
  - ENV_NAME=testing
  - ENV_NAME=

branches:
  only:
  - master
  - test
  - '/^[0-9]*\.[0-9]*\.[0-9]*/'

notifications:
  email:
    on_success: never

before_deploy:
  - export RELEASE_PKG_FILE=$(pwd -P)/git-versioning-$TRAVIS_TAG.tar
  - echo "deploying $RELEASE_PKG_FILE to GitHub releases"
#  - export RELEASE_PKG_FILE=$(echo git-versioning-*.tar)
#  - echo "deploying $RELEASE_PKG_FILE to GitHub releases"

deploy:
  provider: releases
  api_key:
    secure: jmDiuKQx63OiPoWyWNslSW7L1Ld29PGEDO+rL94pFjgw1s26WJF3+JUcQEF3o4R7qJjTKpBta7HRqVoVkWcvhbuHD2tvapSN7KSI0Z/6HAGz7234yMALj8gG6W4djSyz4EDBmBc7qAnXmmrrioIqAhjUmaCnQIf6bTw7JkEgvM4=
  file: "${RELEASE_PKG_FILE}"
  on:
    repo: bvberkum/git-versioning
    tags: true
    condition: $ENV_NAME = production
